.gridContainer{
    margin: 0px;
  }
  
  .menuBar{
    position: fixed;
    background-color: rgb(4, 4, 57);
    width: 80px;
    top: 0px;
    bottom: 0px;
    left: 0px ;
    text-align: center;
  }
  
  .menuBar img{
      padding-top: 10px;
  }
  
  .menuBar ul{
    
    position: fixed;
    list-style: none;
    padding: 0px;
    margin-top: 75px;
    
  }
  
  .menuBar ul li{
    color: white;
    padding: 5px 22px;
    font-weight: bold;
    margin-bottom: 95px;
  }
  
  .dashboardContainer{
    background-color: rgb(7, 7, 80);
    top: 0px;
    bottom: 0px;
    position: fixed;
    width: 1455px;
    right: 0px;
  }
  
  .header{
      padding: 20px 0px;
      width: 1250px;
      margin: auto;
      position: relative;
      background-color: transparent;
      color: black;
      top: 10px;
  }
  
  .header-left{
      width: 500px;
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;
  }
  
  .header-left .searchGrid{
      display: flex;
  }
  
  .header-left .searchGrid .col-1{
      width: 75%;
      flex-shrink: inherit;
      font-size: 20px;
      color: #ccc;
      caret-color: white;
  }
  
  .header-left .searchGrid .col-1 input{
      border-radius: 10px;
      width: 500px;
      padding: 5px;
  }
  
  .header-left .searchGrid .col-2{
      margin-top: 2px;
      width: 10%;
      height: 41px;
      margin-left: 27px;
      font-size: 25px;
      color: white;
      text-align: center;
      padding-top: 1px;
      padding-bottom: 1px;
      background-color: transparent ;
      border-radius: 10px;
  }
  
  .mainContent{
      margin: auto;
      position: relative;
      background-color: transparent;
      padding: 10px 0px;
      width: 1250px;
      margin-top: 20px;
      color: whitesmoke;
  }