* {
    padding: 0;
    margin: 0;
}

.budgetCard:hover{
    box-shadow: 0px 2px 10px rgb(181, 208, 236);
}

.listWrapper {
    max-height: 300px;
    overflow-y: 'auto';
    overflow-x: hidden;
}

.listWrapper::-webkit-scrollbar {
    width: 5px;
  }
  
  .listWrapper::-webkit-scrollbar-track {
    background: #2e2f3a; /* Track color */
  }
  
  .listWrapper::-webkit-scrollbar-thumb {
    background-color: #626577; /* Scrollbar thumb color */
    
  }
  
  .listWrapper::-webkit-scrollbar-thumb:hover {
    background-color: #787c8a; /* Hover color */
  
  }