* {
    padding: 0px;
    margin: 0px;
}
.dashboard-card {
    background-color: rgb(14, 14, 91);
    color: #FFFFFF;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    border: 0.1px solid white;
}
.dashboard-card:hover{
    box-shadow: 0px 2px 10px rgba(15, 122, 230,1);
}

.dashboard-card .card-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.dashboard-card .card-text {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.dashboard-card .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #0013df; /* Light border for separation */
    padding-top: 10px;
    font-size: 1rem;
    color: #A4A7C1; /* Light grey for footer text */
    gap: 10px;
}
