* {
    padding: 0;
    margin: 0;
}

.transectionCard:hover{
    box-shadow: 0px 2px 10px rgb(181, 208, 236);
}

.headProperty{
    background-color: #1F2130;
    position: sticky;
    top: 0;
    z-index: 2;
}

.tableWrapper {
    max-height: 400px;
    overflow-y: 'auto';
    overflow-x: hidden;
}

.tableWrapper::-webkit-scrollbar {
    width: 5px;
  }
  
  .tableWrapper::-webkit-scrollbar-track {
    background: #2e2f3a; /* Track color */
  }
  
  .tableWrapper::-webkit-scrollbar-thumb {
    background-color: #626577; /* Scrollbar thumb color */
    
  }
  
  .tableWrapper::-webkit-scrollbar-thumb:hover {
    background-color: #787c8a; /* Hover color */
  
  }
  
/* sx={{ maxHeight: 400, overflowY: 'auto' }} */


/* .tableWrapper::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;

} */ 

/* ::-webkit-scrollbar-thumb{
    margin-left: 30px;
} */

.tr:hover {
    background-color: #3a3a3a;
} 
/* .transectionCard {
    background-color: rgb(14, 14, 91);
    color: white;
    border-radius: px;
    border: 0.2px solid white;
    margin-bottom: 70px;
    height: 300px;
    padding: 5px;
    margin-right: 10px;
}



.cardClass{
    background-color: transparent; 
    color: white;
    border: none;
}
.transCardTitle {
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
}








.tablePropertys {
    margin-top: 5px;
    margin-left: 11px;
    margin-bottom: 0px;
}

.tablePropertys thead th {
    background-color: rgb(14, 14, 91);
    border-bottom: 0.2px solid white;
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: left;
}

.tablePropertys td {
    background-color: rgba(14, 14, 91,1);
    border-color: #3a3a3a;
}

*/
/* To Hide The ScrollBar For Chrome,Safari*/
/* To Hide The ScrollBar For IE,Edge*/
/* .tableWrapper {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
} */