* {
  padding: 0px;
  margin: 0px;
}

InputBase::placeholder{
  color: white;
}

.navigation-menu li a:hover{
  transform: translateX(5px);
  font-weight: 700;
  color: cornflowerblue;
}

/* Mobile View */
.mobile-navigation{
  padding: 5px  0px;
  text-align: center;
  list-style: none;
}
.mobile-navigation li{
  padding: 35px 0px;
  margin-top: 0px;
}
.mobile-navigation li a{
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  font-family: serif;
}
.mobile-navigation li a:hover{
  transform: translateX(5px);
  font-weight: 700;
  color: cornflowerblue;
}