* {
    padding: 0px;
    margin: 0px;
}
.footerdiv{
    margin-top: 15px;
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  color: white;
  background-color: #071435;
  border-top: 0.2px solid white;
}
span{
    color: blue;
}

.copyrightdiv{
    position: relative
}
.iconsdiv{
    display: flex;
    align-items: center;
    margin-left: 900px;
    justify-content: space-evenly;
    width: 200px;
}

.iconsdiv p
{
    margin-top: 11px;
}
.iconsdiv p:hover{
    box-shadow: 2px 1px 1px 1px rgb(75, 75, 245);
}