nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  gap: 150px;
  align-items: center;
  justify-content: space-evenly;
}

nav ul li{
  border: 0.5px solid transparent;
}

.link{
  text-decoration: none;
  color: white ;
}
nav{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#071435;
  border-bottom: 0.2px solid white;
}

.nav-logo{
  width: 100px;
  height: 75px;
}

.navItems{
  text-align: center;
  width: 100px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navItems:hover{
  border: 0.5px solid white;
}